@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<AdminStudentRelation>

<div class="text-center m-3">
    <h2>Kayıtlı Öğrencilerim</h2>
</div>

<div class="p-3">
    <table id="studentList" style="width:100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad Soyad</th>
                <th>Staj Evrakları</th>
                <th>Staj Defteri</th>
                @if (User.IsInRole("admin.teacher"))
                {
                    <th>İşlemler</th>
                }

            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var student in Model)
                {
                    <tr>
                        <th>@student.StudentUserId</th>
                        <td>
                            @student.StudentUser.FirstName @student.StudentUser.LastName
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="InternshipDocument" asp-action="Documents" asp-route-studentId="@student.StudentUserId">Öğrencinin Staj Belgelerine Git</a>
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="InternshipsBook" asp-action="BookPage" asp-route-studentId="@student.StudentUser.Id" asp-route-bookId="0">Öğrencinin Defterine Git</a>
                        </td>
                        @if (User.IsInRole("admin.teacher"))
                        {
                            <td>
                                <a class="btn btn-square btn-info" asp-area="Admin" asp-controller="Auth" asp-action="RegisterCompany" asp-route-studentId="@student.StudentUserId" title="Öğrenci için bir şirket kullanıcı hesabı oluştur!">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-building"></i>
                                    </span>
                                </a>

                                <a class="btn btn-square btn-danger studentRelationDelete" rela-id="@student.Id" asp-area="Admin" asp-controller="Student" asp-action="DeleteStudentRelation" asp-route-relationId="@student.Id" title="Öğrenci Listemden Kaldır">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-circle"></i>
                                    </span>
                                </a>

                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <h1>Henuz Kullanici Kayitli Degil</h1>
            }

        </tbody>
    </table>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#studentList').DataTable();

            $('.studentRelationDelete').click(function (e) {
                e.preventDefault();
                var reId = $(this).attr('rela-id');
                swal({
                    title: "Emin misiniz?",
                    text: "Sildikten son bu işlem geri alınamaz!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/Admin/Student/DeleteStudentRelation?relationId=${reId}`,
                                type: 'POST',
                                success: function () {
                                    swal("Silme işlemi başarılı !",
                                        {
                                            icon: "success",
                                        }
                                    ).then(function () {
                                        location.reload();
                                    });
                                }
                            });
                        } else {
                            swal("Silme işlemini iptal ettiniz!");
                        }
                    });
            });
        });
    </script>
}