@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<InternshipDocument>

<div class="text-center m-3">
    <h2>Öğrenci Staj Belgeleri</h2>
</div>

<div class="p-3">
    <table id="documentList" style="width:100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Evrak Adı</th>
                <th>Kabul Edildi mi?</th>
                <th>İşlemler</th>
                <th>Seçili</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var document in Model)
                {
                    <tr>
                        <td>@document.Id</td>
                        <td>
                            @document.DocumentName
                        </td>
                        <td>
                            @if (User.IsInRole("admin.teacher"))
                            {
                                @if (document.IsTeacherChecked)
                                {
                                    <label class="text-success">Kabul Edildi!</label>
                                }
                                else
                                {
                                    <label class="text-danger">Kabul Edilmedi!</label>
                                }
                            }else if(User.IsInRole("admin.company"))
                            {
                                @if (document.IsCompanyChecked == false || document.IsCompanyChecked == null)
                                {
                                    <label class="text-danger">Kabul Edilmedi!</label>
                                }
                                else
                                {
                                    <label class="text-success">Kabul Edildi!</label>  
                                }
                            }
                            else
                            {
                                <label>Henüz İşlem Yapılmamış</label>
                            }
                        </td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <a asp-area="" asp-controller="InternshipDocument" asp-action="ShowPdf" asp-route-documentId="@document.Id">
                                    <h5><span title="@document.DocumentName belgesini görüntüle!" class="badge bg-info">Görüntüle</span></h5>

                                </a>
                                <a class="button-accept" do-id="@document.Id" asp-area="Admin" asp-controller="InternshipDocument" asp-action="AcceptDocument" asp-route-documentId="@document.Id">
                                    <h5><span title="@document.DocumentName belgesini kontrol edildi olarak işaretle!" class="badge bg-success">Belgeyi kabul et!</span></h5>

                                </a>

                                <a class="button-reject" do-id="@document.Id" asp-area="Admin" asp-controller="InternshipDocument" asp-action="RejectDocument" asp-route-documentId="@document.Id">
                                    <h5><span title="@document.DocumentName belgesini kontrol edilmedi olarak işaretle!" class="badge bg-warning">Belgeyi reddet!</span></h5>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input radioButton" type="radio" name="check" id="@document.Id">
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td>Henüz belge eklenmemiş!</td>
                    <td></td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <br />
    <div style="text-align:center">
        <h1>İmza Oluşturma</h1>

        <br />
        <br />
        <canvas id="signatureCanvas" width="250" height="100"></canvas>
        <br>

        <button class="btn btn-danger" id="clearButton">Temizle</button>
        <button class="btn btn-success" id="saveButton">İmzayı Kaydet</button>




    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#documentList').DataTable();


            $('.button-reject').click(function(e){
                e.preventDefault();
                var doId = $(this).attr('do-id');
                swal({
                    title: "Belgeyi Ret Etmek İstediğinizden Emin misiniz?",
                    text: "Öğrenciye gerekli bildirim gönderilecek ve öğrencinin bu belgeyi silmesi istenecektir! Devam etmek istediğinize emin misiniz!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/Admin/InternshipDocument/RejectDocument?documentId=${doId}`,
                                type: 'POST',
                                success: function () {
                                    swal("Ret işlemi başarılı !",
                                        {
                                            icon: "success",
                                        }
                                    ).then(function () {
                                        location.reload();
                                    });
                                }
                            });
                        } else {
                            swal("Ret işlemini iptal ettiniz!");
                        }
                    });
            });



            $('.button-accept').click(function (e) {
                e.preventDefault();
                var doId = $(this).attr('do-id');
                swal({
                    title: "Belgeyi Kabul Etme İşlemi!",
                    text: "Öğrenciye gerekli bildirim gönderilecek ve öğrencinin bu belgeyi tutması istenecektir! Devam etmek istediğinize emin misiniz!",
                    icon: "info",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/Admin/InternshipDocument/AcceptDocument?documentId=${doId}`,
                                type: 'POST',
                                success: function () {
                                    swal("Belge kabul işlemi başarılı !",
                                        {
                                            icon: "success",
                                        }
                                    ).then(function () {
                                        location.reload();
                                    });
                                }
                            });
                        } else {
                            swal("Belge kabul edildi!");
                        }
                    });
            });
        });
    </script>
    <script src="~/studenttemplate/js/signatureteacher.js"></script>
}
