
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<AdminStudentRelation>


<!-- Modal -->
<div class="modal fade" id="studentList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLongTitle">Öğrenci Listesi</h5>
            </div>
            <div class="modal-body">
                    @foreach (var student in Model)
                    {

                            <div class="d-flex justify-content-between m-1">
                                <label>@student.Id</label>
                                <label>@student.StudentUser.FirstName @student.StudentUser.LastName</label>
                                <a asp-area="Admin" asp-controller="Company" asp-action="AddStudentForCompany" asp-route-StudentUserId="@student.StudentUserId" asp-route-AdminUserId="@ViewBag.CompanyId" asp-route-IsCompany="true">
                                    <span title="@student.StudentUser.FirstName @student.StudentUser.LastName öğrencisini ekle!" class="badge bg-success">Ekle</span>
                                </a>
                            </div>
                    }
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>