@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<AdminUser>

<div class="text-center m-3">
    <h2>Tüm Şirket Hesapları</h2>
</div>


<div id="modalPlaceHolder" aria-hidden="true"></div>

<div class="p-3">
    <table class="table table-hover" id="allCompany" style="width:100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Şirket Adı</th>
                <th>Şirkete Ait Öğrenciler</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td>@company.FirstName @company.LastName</td>
                        <td>
                            @if (company.AdminStudentRelations.Any())
                            {
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@company.Id" aria-expanded="true" aria-controls="collapse_@company.Id">
                                                Şirkete Kayıtlı Öğrenciler
                                            </button>
                                        </h2>
                                        <div id="collapse_@company.Id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul>
                                                    @foreach (var relation in company.AdminStudentRelations)
                                                    {
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <label>@relation.StudentUserId</label>
                                                                <label>@relation.StudentUser.FirstName @relation.StudentUser.LastName</label>
                                                                <a class="button-relation-delete" rela-id="@relation.Id" asp-area="Admin" asp-controller="Company" asp-action="DeleteStudentRelation" asp-route-relationId="@relation.Id">
                                                                    <span title="@relation.StudentUser.FirstName @relation.StudentUser.LastName öğrencisini çıkart!" class="badge bg-danger">Çıkart</span>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <label>Henüz bir öğrenci kayıtlı değil!</label>
                            }

                        </td>
                        <td>
                            <button class="btn btn-success ml-3 btnStudentList" companyId="@company.Id" title="Şirkete bir öğrenci ekle!">
                                <span class="icon text-white-50">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td>Henuz şirket hesabı bulunmamaktadir!</td>
                    <td></td>
                    <td></td>     
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#allCompany').DataTable();

            const placeHolderDiv = $('#modalPlaceHolder');

            $('.btnStudentList').click(function (event) {
                event.preventDefault();
                var companyId = $(this).attr('companyId');
                const url = `/Admin/Company/StudentListModal?companyId=${companyId}`;
                debugger;
                $.get(url).done(function (data) {
                    placeHolderDiv.html(data);
                    placeHolderDiv.find('.modal').modal('show');
                });

                placeHolderDiv.on('click', '.close', function (event) {
                    event.preventDefault();
                    placeHolderDiv.find('.modal').modal('hide');
                });
            });


            $('.button-relation-delete').click(function (e) {
                e.preventDefault();
                var reId = $(this).attr('rela-id');
                swal({
                    title: "Öğrenciyi Çıkartmak İstediğinizden Emin misiniz?",
                    text: "Öğrencinin şirketle olan bağlantısı kesilecektir. Daha sonra yeniden atama yapabilirsiniz!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: `/Admin/Company/DeleteStudentRelation?relationId=${reId}`,
                                type: 'POST',
                                success: function () {
                                    swal("Öğrenci başarılı bir şekilde şirketten çıkartıldı!",
                                        {
                                            icon: "success",
                                        }
                                    ).then(function () {
                                        location.reload();
                                    });
                                }
                            });
                        } else {
                            swal("İşlemi iptal ettiniz!");
                        }
                    });
            });
        });
    </script>
}