@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}
@model InternshipDocument
<div>
    <form asp-controller="InternshipDocument" asp-action="UploadPdf" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="StudentUserId" value="@User.Identity.Name" />

        <div class="container-fluid">
            <div class="row g-4">

                <div class="card">
                    <div class="card-header text-center">
                        <br />
                        <h3>Dosya Yükleyiniz</h3>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-lg-3">
                                <input type="text" required="" class="form-control" id="dN" asp-for="DocumentName" placeholder="Lütfen pdf ismini giriniz!">
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <input type="file" required="" name="pdfFile" class="form-control-file" />
                            </div>
                        </div>

                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary btn-xs">Dosya Ekle</button>

                </div>
            </div>
        </div>
    </form>
    <br />


    <table id="documentList" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Döküman İsmi</th>
                <th>Döküman Görüntüle</th>
                <th>Durumlar</th>
                <th>Seç</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["documentList"] == null)
            {
                <h6>Henüz Pdf Yüklenmemiş.</h6>
            }
            else
            {
                @foreach (var item in ViewData["documentList"] as List<InternshipDocument>)
                {
                    <tr>
                        <td>@item.Id</td>
                        <th style="color:black">@item.DocumentName</th>
                        <td>
                            <a asp-area="" asp-controller="InternshipDocument" asp-action="ShowPdf" asp-route-documentId="@item.Id">
                                <button class="btn btn-primary">Görüntüle</button>

                            </a>
                        </td>
                        <td>
                            @if (item.IsTeacherChecked == true)
                            {
                                <a class="btn btn-square btn-info" title="Danışmanınız belgenizi onaylamıştır">
                                    <span class="icon text-white-100">
                                        <i class="fas fa-person-booth"></i>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-square btn-danger" title="Danışmanınız belgenizi onaylamamıştır!">
                                    <span class="icon text-white-100">
                                        <i class="fas fa-person-booth"></i>
                                    </span>
                                </a>
                            }

                            @if (item.IsCompanyChecked == true)
                            {
                                <a class="btn btn-square btn-info" title="Şirket belgenizi onaylamıştır.">
                                    <span class="icon text-white-100">
                                        <i class="fas fa-building"></i>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-square btn-danger" title="Şirket belgenizi onaylamamıştır!">
                                    <span class="icon text-white-100">
                                        <i class="fas fa-building"></i>
                                    </span>
                                </a>
                            }

                        <td>
                            @*<button type="button" id="@item.Id" class="btn btn-outline-success signatureTest">Döküman Seç</button>*@
                            <div class="form-check">
                                <input class="form-check-input signatureTest" type="radio" name="check" id="@item.Id">
                            </div>
                        </td>
                        <td>
                            <a href="#" data="@item.Id" class="btn btn-outline-danger deleteDocument">Döküman Sil</a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>




<div style="text-align:center">
    <h1>İmza Oluşturma</h1>


    <canvas id="signatureCanvas" width="250" height="100"></canvas>
    <br>

    <button type="button" class="btn btn-danger mr-3" id="clearButton">Temizle</button>
    <button type="button" class="btn btn-success" id="saveButton">İmzayı Kaydet</button>




</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#documentList').DataTable();
        });





        $('.deleteDocument').click(function () {

            var id = $(this).attr('data');
            swal({
                title: "Emin misiniz?",
                text: "Sildikten son bu işlem geri alınamaz!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: `/InternshipDocument/DeletePdf?documentId=${id}`,
                            type: 'POST',
                            success: function () {
                                swal("Silme işlemi başarılı !",
                                    {
                                        icon: "success",
                                    }
                                ).then(function () {
                                    location.reload();
                                });

                            }
                        });
                    } else {
                        swal("Silme işlemini iptal ettiniz!");
                    }
                });
        });

    </script>
    <script src="~/studenttemplate/js/signaturecanvas.js"></script>
    }

